@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>GradeBook</h1>
    <p class="lead">Dobrodošli na GradeBook, web-aplikaciju za evidenciju ocjena koje je ostvario pojedini učenik.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Master-Detail forma</h2>
        <p>Škola je izabrana kao Master forma, dok su kao Detail forma izabrani Zaposlenici.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Skola")>Pregled Master-Detailova</a></p>
    </div>
    <div class="col-md-4">
        <h2>Šifrarnik</h2>
        <p>Implementirane su CRUD operacije za šifrarnik Tip zaposlenika zato što je potreban za Master-Detail formu.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "TipZaposlenika")">Pregled šifrarnika</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detail</h2>
        <p>Dostupno je odvojeno uređivanje Detaila Zaposlenici koje omogućuje obavljanje CRUD operacija.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Zaposlenik")">Pregled detailova</a></p>
    </div>
</div>